

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Outfit:wght@700&family=Poppins:wght@300&display=swap');




*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(212, 45%, 89%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
   
    
   
   
   

   
   
    
}

.card{
    height: 420px;
    width: 270px;
    border: 2px solid white;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
 
}

.img{
    width: 245px;
    height: 260px;
    margin: 10px 10px;
    background: url(chisom.png);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.text1{
    text-align: center;
    color: hsl(218, 44%, 22%);
    font-size: 18px;
    font-weight: 700;
    font-family: 'Outfit';
    
    
   
      
   
}

.text2{
    text-align: center;
    color: hsl(220, 15%, 55%);
    font-size: 12px;
    margin-top: 11px;
    font-family: 'sans-serif';
    font-weight: 400;
    
    
 
   
 
   
}


